<div class="cabecalho">
  <div class="selecao-predio">
    <select>
      <option>Neo Business</option>
      <option>Neo Corporate</option>
      <option>Neo Geral</option>
      <option>Neo Residence</option>
    </select>
  </div>
  <div class="itens">
    <ul>
      <li>
        <a routerLink="/"> Home </a>
      </li>
      <li>
        <a routerLink="/chat">Chat</a>
      </li>
      <li>
        <a routerLink="/eventos">Eventos</a>
      </li>
      <li>
        <a routerLink="/condominos">Condôminos</a>
      </li>
      <li>
        <a routerLink="/credenciados">Credenciados</a>
      </li>
      <li>
        <a routerLink="/telefones">Telefones</a>
      </li>
      <li>
        <a routerLink="/funcionarios">Funcionários</a>
      </li>
      <li>
        <a routerLink="/ferramentas"> Ferramentas </a>
      </li>
    </ul>
  </div>
  <div class="usuario">
    <div>Olá usuário!</div>
    <div>
      <a routerLink="/usuario/mudar-senha"> Mudar Senha </a>
    </div>
    <div>Sair</div>
  </div>
</div>
