<div class="menu-lateral">
  <button type="button" (click)="adicionarPredio()">Adicionar</button>
</div>
<div class="conteudo">
  <table>
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let predio of predios">
        <td>{{ predio.nome }}</td>
        <td>{{ predio.descricao }}</td>
        <td>
          <button class="button" (click)="andares(predio.id)">Andares</button>
          <button type="button" (click)="editarPredio(predio.id)">
            Editar
          </button>
          <button type="button" (click)="deletar(predio)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
