<div class="menu-lateral">
  <button type="button" (click)="adicionar()">Adicionar</button>
</div>
<div class="conteudo">
  <table>
    <thead>
      <th>Nome</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let localEvento of locaisEvento">
        <td>{{ localEvento.nome }}</td>
        <td>
          <button type="button" (click)="editar (localEvento.id)">
            Editar
          </button>
          <button type="button" (click)="deletar(localEvento)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
