html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.corpo {
  display: flex;
}
.menu-lateral {
  width: 10rem;

  .menu-lateral-titulo {
    text-align: center;
  }
  .menu-lateral-itens {
    text-align: center;
  }
}
.conteudo {
  width: calc(100vw - 10rem);

  .titulo-conteudo {
    text-align: center;
  }
}
